/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 40px; /* Set a specific slider handle width */
  height: 32px; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 40px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-color: #121219;
  border: 4px solid #121219;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    background-color: #eff0f3;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #eff0f3;
    margin-top: -1px;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #121219;
  height: 100%;
}
input[type="range"]::-moz-range-track {
  background-color: #eff0f3;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #121219;
}
input[type="range"]::-ms-fill-upper {
  background-color: #121219;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
